<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>From event</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      The from operator in RxJS is used to create an Observable from an array, a
      Promise, an iterable, or any other object that implements the
      ObservableInput interface. It converts these into an Observable, emitting
      each item in the input one by one.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="save()">Call</button>
  </mat-card-actions>
</mat-card>
